@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><button type="button" class="btn btn-primary btn-lg" id="btnGetAll">Get All</button></p>
</div>

<h2>Index</h2>

<table class="table" id="tableGetAll"></table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#btnGetAll').click(function () {
                var table = $('#tableGetAll');
                table.empty();
                table.append(
                    $('<thead>').append(
                        $('<tr>').append(
                            $('<td>').text('Name'),
                            $('<td>').text('Address'),
                            $('<td>').text('URL'),
                            $('<td>').text('Phone')
                        )
                    )
                );
                $.getJSON("http://localhost:62952/api/Restaurants")
                    .done(function (data) {
                        var tbody = $('<tbody>');
                        table.append(tbody);
                        $.each(data, function (i, item) {
                            debugger;
                            tbody.append(
                                $('<tr>').append(
                                    $('<td>').text(item.name),
                                    $('<td>').text(item.address),
                                    $('<td>').text(item.url),
                                    $('<td>').text(item.phone)
                                ));
                        });
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(errorThrown);
                    });
            });
        });
    </script>
}
