<div class="jumbotron">
    <h1>See Restaurants</h1>
    <p class="lead">Call based on Web API using AJAX</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p></p>
      
    </div>
    <div class="col-md-4">
       
        <p>
            @*@Ajax.ActionLink("Restaurants", // <-- Text to display
           "",  
           "api/Restaurant",
            new AjaxOptions
            {
             UpdateTargetId = "List", // <-- DOM element ID to update
             InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
             HttpMethod = "GET" // <-- HTTP method

            })*@

            </p>
        
    </div>
    <div class="col-md-4">
        <h2>See Restaurants</h2>
        <p><div id="List">Restaurants will displayed Shortly</div></p>
        <p><input type="button" class="btn btn-default" value="Get Restaurants" onclick="Show();"/></p>
    </div>
</div>
<script>
    function Show() {
        debugger;
        $.get({
            url: "http://localhost:58558/api/Restaurant", success: function (result) {
                debugger;
                $("#List").html(result);
            }
        });
    }
</script>
